body {
    margin: 0;
    padding: 0;
    background-color: pink;
}
#keywords-container {
    position: fixed;
    width: calc(100% - 40px - 2vw);
    padding: calc(20px + 1vw);
    font-family: monospace;
    font-size: 20px;
}
ul {
    margin: 0 0 calc((100vh / 10) - 26px) 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(577, max-content);
    column-gap: 100px;
    list-style: none;
    overflow: hidden;
}